DJANGO_SETTINGS_MODULE="config.django.local"
DJANGO_DEBUG=True
SECRET_KEY=django-insecure-generate-your-own-key
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://user:password@localhost:5432/db_name
FORCE_SCRIPT_NAME=''