
{% extends 'accommodations/base_accommodations.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
{% block main %}
{% include 'includes/breadcrumbs.html' %}

<div class="container-fluid">
    <div class="row">
        {% include 'accommodations/includes/cat_sidebar.html' %}

        <div class="col-lg-9 col-md-8">
            <div class="row mb-3">
                <div class="col-12">
                    <h1 class="section-title h3">
                        <span>{{ country.name }}</span>
                    </h1>
                </div>
                <div class="col-4 col-sm-2">
                    <img src="{{ country.country_image.url }}"
                         alt="" class="img-thumbnail">
                </div>
                <div class="col-8 col-sm-10">
                    <p>{{ country.description }}</p>
                </div>
            </div> <!-- Category name & desc. -->

            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Сортировать:</span>
                        <select class="form-select" name="orderby" form="filter-form">
                            <option value="id"
                                {% if request.GET.orderby == 'id' or not request.GET.orderby %}selected{% endif %}>
                                По умолчанию
                            </option>
                            <option value="name"
                                {% if request.GET.orderby == 'name' %}selected{% endif %}>
                                По имени
                            </option>
                            <option value="start_price"
                                {% if request.GET.orderby == 'start_price' %}selected{% endif %}>
                                По цене(по возрастанию)
                            </option>
                            <option
                                value='-start_price' {% if request.GET.orderby == "-start_price" %}selected{% endif %}>
                                По цене (по убыванию)
                            </option>
                        </select>
                    </div>
                    <div class="d-grid mb-3">
                        <button type="submit" form="filter-form"
                                class="btn btn-secondary btn-lg">
                            Показать
                        </button>
                    </div>
                </div>
            </div> <!-- Selection forms -->

            <div class="row">
                {% for accommodation in object_list %}
                <div class="col-lg-4 col-sm-6 mb-3">
                    {% include 'accommodations/includes/accommodation_card.html' %}
                </div>
                {% endfor %}
            </div> <!-- Product cards -->

            <div class="row">
                <div class="col-12">
                    {% if page_obj.has_other_pages %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ url_params }}">
                                    Previous
                                </a>
                            </li>
                            {% endif %}
                            {% for p in paginator.page_range %}
                            {% if page_obj.number == p %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link">{{ p }}</a>
                            </li>
                            {% elif p > page_object.number|add:-2 and p < page_object.number|add:2 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ url_params }}">
                                    Next
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div> <!-- Pagination panel -->
        </div>
    </div>
</div>

{% endblock main %}
{% endblock content %}