{% extends 'users/base_users.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
{% block main %}
{% include 'includes/breadcrumbs.html' %}
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-12">
            <div class="page-register bg-white p-3">
                <h1 class="section-title h3"><span>Редактирование профиля</span></h1>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form action="{% url 'auth:edit' %}" method="post"
                              class="needs-validation" novalidate
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            <!--                            <div class="form-error">{{ form.non_field_errors }}</div>-->

                            {% for field in form %}
                            <div class="mb-3">
                                <label class="form-label required" for="{{ field.id_for_label }}">
                                    {{ field.label }}:
                                </label>{{ field }}
                                <div class="invalid-feedback">
                                    {{ field.name }} is required
                                </div>
                            </div>
                            <div class="form-error">{{ field.errors }}</div>
                            {% endfor %}

                            <div class="mb-3">
                                <button type="submit" class="btn btn-warning">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
{% endblock content %}