<div class="col-lg-3 col-md-4">
    <div class="sidebar">
        <button class="btn btn-warning w-100 text-start collapse-filters-btn mb-3" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa-solid fa-filter"></i> Фильтры
        </button>
        <div class="collapse collapse-filters" id="collapseFilters">
            <form action="{% url 'country_list' country.slug %}" method="get">
                <div class="filter-block">
                    <h5 class="section-title"><span>Фильтровать по региону</span></h5>
                    {% for key, val in country_regions.items %}
                    <div class="form-check d-flex justify-content-between">
                        <div>
                            <input class="form-check-input" type="checkbox"
                                   name="region" value="{{ key.id }}">
                            <label class="form-check-label">
                                {{ key.name }}
                            </label>
                        </div>
                        <span class="badge border rounded-0">{{ val }}</span>
                    </div>
                    {% endfor %}
                </div>

                <div class="filter-block">
                    <h5 class="section-title"><span>Фильтровать по наличию мест</span></h5>
                    <div>
                        <h6 class="filter-subtitle"> всего объектов со свободными номерами:</h6>
                    </div>

                    {% for key, val in available_accommodations.items %}
                    <div class="form-check d-flex justify-content-between">
                        <div>
                            <input class="form-check-input" type="checkbox"
                                   name="roomclass" value="{{ key.id }}">
                            <label class="form-check-label">
                                {{ key.name }}
                            </label>
                        </div>
                        <span class="badge border rounded-0">{{ val }}</span>
                    </div>
                    {% endfor %}
                </div>

<!--                <div class="filter-block">-->
<!--                    <h5 class="section-title">-->
<!--                        <span>Filter by type</span>-->
<!--                    </h5>-->


<!--                    <div class="form-check d-flex justify-content-between">-->
<!--                        <div>-->
<!--                            <input class="form-check-input" type="checkbox" value="" id="man">-->
<!--                            <label class="form-check-label" for="man">-->
<!--                                Man-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <span class="badge border rounded-0">44</span>-->
<!--                    </div>-->
<!--                    <div class="form-check d-flex justify-content-between">-->
<!--                        <div>-->
<!--                            <input class="form-check-input" type="checkbox" value="" id="woman">-->
<!--                            <label class="form-check-label" for="woman">-->
<!--                                Woman-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <span class="badge border rounded-0">105</span>-->
<!--                    </div>-->
<!--                    <div class="form-check d-flex justify-content-between">-->
<!--                        <div>-->
<!--                            <input class="form-check-input" type="checkbox" value="" id="baby">-->
<!--                            <label class="form-check-label" for="baby">-->
<!--                                Baby-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <span class="badge border rounded-0">35</span>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-secondary btn-lg">Показать</button>
                </div>
            </form>
        </div>
    </div>
</div> <!-- Sidebar -->
